@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

body {
  background: #0d1321;
  color: aliceblue;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background: #1d2d44;
}

.navbar-brand {
  color: aliceblue;
}

.navbar-brand img {
  width: 30px;
  margin-right: 10px;
  font-weight: bold;
}

.btn {
  font-size: 15px;
}

.btn-primary,
.bg-primary {
  background-color: #df3ca6 !important;
  border: none;
}

.btn-primary:hover {
  background-color: #df3ca6;
  opacity: 0.9;
}

.btn-secondary {
  background-color: #7430f9;
}

.btn-secondary:hover {
  background-color: #7430f9;
  opacity: 0.9;
}

.icon {
  margin-right: 5px;
}

.card {
  background: #1d2d44;
  border: none;
}

tbody {
  background: aliceblue;
  color: #1d2d44;
}

thead {
  background: #1d2d44 !important;
  color: aliceblue;
}

.card-body .btn {
  background: #4c9f70;
  color: aliceblue;
}

.modal-content {
  background: #1d2d44;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1d2d44 !important;
}
